<!-- <div class="container"> -->
  <button mat-icon-button class="btnColor"
    *ngFor="let ratingId of ratingArray;
    index as i" [id]="'star_'+i" (click)="calculateRating(i+1)">
       <mat-icon>
           {{ iconStatus(i) }}
       </mat-icon>
   </button>
   <p *ngIf = "type !== 'detailsSong'">
       Your rated <span>{{ rating }}</span>/<span>{{ totalStar }}</span>
   </p>

   <p *ngIf = "type === 'detailsSong'" [ngClass]= "{'paraRating': type === 'detailsSong'}" >
       Average Song Rating <span>{{ rating }}</span>/<span>{{ totalStar }}</span>
   </p>
<!-- </div> -->
