<!-- Top 10 songs cards -->
<div class="container">
<div   class="row">
  <span class="headings">Top 10 Songs of All Time!</span>
      <div *ngFor="let songs of newArray" class="card">
        <div class="imgBx">
          <img src = {{songs.cover_image}} >
        </div>
        <div class="contentBx">
          <h2>{{songs.song_name}}</h2>
          <div class="size">
            <h3>{{songs.artist_name}}</h3>
          </div>
          <div class="size">
            <h3>{{songs.release_date}}</h3>
          </div>
        </div>
      </div>

</div>

</div>

<!-- Top 10 Artists Card -->
<div class="container">
  <div class="row">
    <span class="headings">Top 10 Artists of All Time!</span>
        <div *ngFor="let artists of newArtistArray" class="card">
          <div class="imgBxArtist">
            <img src={{artists.profile_pic}}>
          </div>
          <div class="contentBx">
            <h2>{{artists.artist_name}}</h2>
            <div class="size">
              <h3>DOB: {{artists.dob}}</h3>
            </div>
            <div class="size">
              <h3>Songs: {{artists.song_name}}</h3>
            </div>
          </div>
        </div>

  </div>

