<!-- Top 10 songs cards -->
<div class="container">
<div class="row">
  <span class="headings">Top 10 Songs of All Time!</span>
      <div *ngFor="let songs of top10Songs" class="card">
        <div class="imgBx">
          <img src = {{songs.cover_image}} >
        </div>
        <div class="contentBx">
          <h2>{{songs.song_name}}</h2>
          <!-- <ngx-star-rating [(ngModel)] = "rating" (click) = "ratingClick(songs)" [id]="'rating'" [disabled]="false"></ngx-star-rating> -->
          <!-- <h4>Rating: {{rating}}</h4> -->
          <div class="size">
            <h3>{{songs.artist_name}}</h3>
          </div>
          <div class="size">
            <h3>{{songs.release_date}}</h3>
          </div>
          <div class="size">
            <app-rating [rating]="songs.average_rating" (ratingUpdated)="onRatingChanged($event)"></app-rating>
          </div>

        </div>
      </div>

</div>
</div>

<div class="container1">
  <span class="headings1">All Songs</span>
  <table id="DataTables" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Release</th>
        <th>Artists</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let songs of newArray">
        <td>{{ songs.song_id }}</td>
        <td>{{ songs.song_name }}</td>
        <td>{{ songs.release_date}}</td>
        <td>{{ songs.artist_name}}</td>
        <td><app-rating [rating]="songs.song_rating" (ratingUpdated)="onRatingChanged($event, songs)"></app-rating></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Top 10 Artists Card -->
<div class="container">
  <div class="row">
    <span class="headings">Top 10 Artists of All Time!</span>
        <div *ngFor="let artists of top10Artists" class="card">
          <div class="imgBxArtist">
            <img src={{artists.profile_pic}}>
          </div>
          <div class="contentBx">
            <h2>{{artists.artist_name}}</h2>
            <div class="size">
              <h3>DOB: {{artists.dob}}</h3>
            </div>
            <div class="size">
              <h3>Songs: {{artists.song_name}}</h3>
            </div>
            <div class="size">
              <app-rating [rating]="artists.average_rating" (ratingUpdated)="onRatingChanged($event)"></app-rating>
            </div>
          </div>
        </div>

  </div>

  <div class="container1">
    <span class="headings1">All Artists</span>
    <table id="DataTables1" datatable [dtOptions]="dtOptions1" [dtTrigger]="dtTrigger1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>DOB</th>
          <th>Songs</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let artists of newArtistArray">
          <td>{{ artists.artist_id }}</td>
          <td>{{ artists.artist_name }}</td>
          <td>{{ artists.dob}}</td>
          <td>{{ artists.song_name}}</td>
          <td><app-rating [rating]="artists.artist_rating" (ratingUpdated)="onRatingChanged1($event, artists)"></app-rating></td>
        </tr>
      </tbody>
    </table>
  </div>

