.container1{
  display: list-item;
  padding: 10px;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 20px;
  background-color: #232427;
  color: rgb(255, 255, 255);
}

th.sorting {
  color: wheat;
}

.songs {
  width: 550px;
}

.headings{
  color: #ffffff;
  font-size: 30px;
  font-weight: 750;
  font-family: "Poppins", sans-serif;
}
