.container1{
  display: list-item;
  padding: 10px;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #232427;
  color: rgb(255, 255, 255);
}

.center{
  text-align: center;
}

a{
  text-decoration: none;
  color: #ffffff;
}

.cover{
  // height: auto;
  // max-width: 100%;
  height: 70px;
  width: 110px;
  border-radius:5px;
}

.spacing{
  margin-top: 20px !important;
}

.audioPlayer{
  width: 70px;
  // color: #5369f8;
}

.floating{
  // position: absolute;
  top: 20%;
  left: 40%;
  background-color: #5369f8;
}

th.sorting {
  color: wheat;
}

.songs {
  width: 550px;
}

.headings{
  color: #ffffff;
  font-size: 30px;
  font-weight: 750;
  font-family: "Poppins", sans-serif;
}
