body{
  // padding-top: 50px;
  background: #232427;
  // z-index: 10003;
}

.container{
  // display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  padding: 10px;
}

.btnnew{
  border-color: #ffffff;
  color: #ffffff;

}

.spanfont{
  font-size: 30px;
}
