.navstyle
{
  font-size: 18px;
}

.navcolor{
  // position: absolute;
  z-index: 10001;
  background-image: linear-gradient(to right,rgba(13, 13, 13, 0.833),rgb(38, 38, 36));
}

.btnnew{
  border-color: #ffffff;
  color: #ffffff;
}

.divpos{
  margin-bottom: 84px;
}
