<body>
  <div id="main-wrapper" class="container spacing">
      <div id="row-new" class="row justify-content-center">
          <div class="col-xl-10">
              <div class="card border-0">
                  <div class="card-body p-0">
                      <div class="row no-gutters">
                          <div class="col-lg-6">
                              <div class="p-5">
                                  <div class="mb-5">
                                      <h3 class="h4 font-weight-bold text-theme">Login</h3>
                                  </div>
                                  <h6 class="h5 mb-0">Immerse into the world of music.</h6>
                                  <p class="text-muted mt-2 mb-5">Groove in to the beat.</p>
                                  <form [formGroup]="loginGroup">
                                      <div class="form-group"><label for="yourName">Enter Username:</label><input id="yourName" formControlName="uname" class="form-control" type="text" /></div>
                                      <div class="form-group mb-5"><label for="exampleInputEmail1">Enter Password:</label><input id="exampleInputEmail1" formControlName="upwd" class="form-control" type="text" /></div>

                                      <button class="btn btn-theme" (click)="login()" type="submit">Log me in</button>&nbsp;

                                  </form>
                              </div>
                          </div>
                          <div class="col-lg-6 d-none d-lg-inline-block">
                              <div class="account-block rounded-right">
                                  <div class="overlay rounded-right"></div>
                                  <div class="account-testimonial">
                                      <h4 class="text-white mb-4">Welcome to Alpha!</h4>
                                      <p class="lead text-white">&quot;I'd be fearless. <br> I'd be an Alpha type&quot;</p>
                                      <p>- Beethoven</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- <p class="text-muted text-center mt-3 mb-0">Already have an account? <a class="text-primary ml-1" href="login.html">login</a></p> -->
          </div>
      </div>
  </div>
</body>
